body {
    font-family: 'HelveticaNeueLTProBd', Helvetica Neue LT Pro;
  }

  .tokenmatrix_wrp{
    .container{
        .radial2{
                
            height: 244.04px;
            left: 83.54%;
            right: 5.59%;
            top: 1430.95px;

            border: 0.5px solid rgba(79, 0, 222, 0.29);
         }
        .row{
             justify-content: center;
             text-align: center;
             margin-top: 100px;
             .radial1{
               
             }
      
            .token_matrix{
                font-family: 'Helvetica Neue LT Pro';
                font-style: normal;
                font-weight: 900;
                font-size: 30px;
                line-height: 500%;
                text-transform: uppercase;
                color: #FFFFFF;   
            }

        }
        .liquidity{
            display: inline-block;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 140%;
            text-align: center;
            text-transform: uppercase;
            color: #4F00DE;
        }
        .sale{

            font-family: 'Rubik';
            font-style: normal;
            font-weight: 600;
            font-size: 22.5556px;
            line-height: 140%;
            text-align: center;
            text-transform: uppercase;
            color: #ACACAC;
        }
        .chart{
            margin-top: 70px;
        }
    }
  }