.buytoken_wrp {
  background: url("../../../assets/images/header_bg1.png"),
    radial-gradient(59% 73% at 23% 50%, #65d6e8 0%, rgba(104, 216, 233, 0) 100%);
  background-size: 98%;
  background-repeat: no-repeat;
  overflow: hidden;

  .container {
    .row {
      text-align: center;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;

      .heading_tok {
        justify-content: center;
        align-items: center;

        .buy_tok {
          margin-top: 2em;
          text-align: center;
          font-family: "HelveticaNeueLTProBlkCn";
          font-style: normal;
          font-weight: 900;
          font-size: 35px;
          line-height: 140%;
          text-transform: uppercase;
          color: #ffffff;

          h1 {
            font-size: 46px;
          }
        }
        .sub_heading {
          margin-top: 15px;
          font-family: "Rubik";
          font-style: normal;
          font-weight: 600;
          font-size: 19px;
          line-height: 140%;
          margin-top: 15px;
          text-align: center;
          text-transform: uppercase;
          background: linear-gradient(
            90deg,
            #ccbbff 0%,
            #7427ff 52.08%,
            #00baff 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
        .paragraph {
          display: flex;

          justify-content: center;
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          margin-top: 35px;
          text-align: center;
          color: #ffffff;

          p {
            width: 60%;
          }
        }
      }
      .btn_buynow {
        border: none;
        height: auto;
        width: 20%;
        margin-top: 50px;
        // padding: 20px 40px;
        // gap: 10px;
        align-items: center;
        height: 55px;
        display: flex;
        justify-content: center;
        background: #ffffff;
        border-radius: 10px;

        .btn_agov {
          font-family: "PF Din Text Comp Pro";
          font-style: normal;
          font-weight: 700;
          padding: auto;
          font-size: 18px;
          line-height: 0%;
          text-transform: uppercase;
          color: #000000;
        }
      }

      .glassmorphism {
        box-sizing: border-box;
        margin-top: 60px;
        background: rgba(33, 25, 66, 0.6);
        backdrop-filter: blur(25px);
        border-radius: 20px;

        .row {
          border: 1px solid blue;
          border-radius: 19px;
          padding: 44px;

          .gap_mobile {
            gap: 1rem;

            img{
              height: auto;
              width: 50%;
            }

          }
        }

        .uniswap_btn {
          border: none;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 13px 40px;
          gap: 10px;
          
          background: #eb63d9;
          border-radius: 10px;

          .text_uniswap_btn {
            height: 28px;

            font-family: "PF Din Text Comp Pro";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            text-transform: uppercase;
            color: #ffffff;
          }
        }
        .etherson_btn {
          border: none;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 13px 40px;
          gap: 10px;
          
          background: #eb63d9;
          border-radius: 10px;

          .text_scan_btn {
            height: 28px;
            font-family: "PF Din Text Comp Pro";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            text-transform: uppercase;
            color: #ffffff;
          }
        }
      }

      .supply {
        gap: 2rem;
        padding-top: 3%;
        display: flex;
        flex-direction: column;

        .project {
          padding-top: 50px;
          display: flex;
          flex-direction: column;
        }
        .total_supply {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;
          text-align: center;
          text-transform: uppercase;
          background: linear-gradient(90deg, #ccbbff 0%, #00baff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
        .total_num {
          display: inline-block;
          font-family: "HelveticaNeueLTProBlkCn";
          font-style: normal;
          font-weight: 900;
          font-size: 55px;
          line-height: 140%;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
        }

        .circular {
          display: flex;
          flex-direction: column;
          .circulating_supply {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            text-align: center;
            text-transform: uppercase;
            background: linear-gradient(90deg, #ccbbff 0%, #00baff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }
        .tot_num {
          font-family: "HelveticaNeueLTProBlkCn";
          font-style: normal;
          font-weight: 900;
          font-size: 55px;
          line-height: 140%;
          /* identical to box height, or 106px */

          text-align: center;
          text-transform: uppercase;

          color: #ffffff;
        }
      }

      .governance_heading {
        margin-top: 50px;
        font-family: "HelveticaNeueLTProBlkCn";
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 140%;
        /* or 45px */

        text-align: center;

        /* Agov-1-Hor */

        background: linear-gradient(90deg, #ccbbff 0%, #00baff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      .governance_para {
        display: flex;
        justify-content: center;
        text-align: center;

        margin-top: 25px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        /* or 28px */

        text-align: center;

        color: #ffffff;

        p {
          width: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .buytoken_wrp {
    background: url("../../../assets/images/buy_bg.png");
    background-size: 100% 80%;
    background-repeat: no-repeat;

    .container {
      .row {
        .glassmorphism {
          .uniswap_btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 20px;
          }

          .row {
            gap: 30px;

            .gap_mobile {
              gap: 20px;
            }

            img {
              height: auto;
              width: 100%;
            }
          }
        }

        .supply {
          gap: 25px;
          .total_num {
            font-size: 40px;
          }
          .tot_num {
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .buytoken_wrp {
    .container {
      .row {
        .btn_buynow {
          width: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .utility_wrp{
    .container {
      .row{
        .txt{

          font-size: 14px;
        }

      } 

    }

  } 
}
