


.utility_wrp{
    
    
    //   padding-top: 21em;
    padding-top: 2rem;

    .container{
        .text_utility{
           
            
            text-align: center;
            margin-bottom: 1.5em;
            width: 100%;
            font-family: "HelveticaNeueLTProBlkCn";
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            line-height: 140%;
            text-transform: uppercase;
            color: #FFFFFF;

        }
        .row{
            .heading{
              
                font-family: "HelveticaNeueLTProBlkCn";
                font-style: normal;
                font-weight: 900;
                font-size: 60px;
                line-height: 100%;
                text-transform: uppercase;
                background: linear-gradient(90deg, #CCBBFF 0%, #7427FF 52.08%, #00BAFF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
            .txt{
              
                margin-top: 20px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
            }
        }
       
    }
}

/* 480 */
@media only screen and (max-width: 649px) {

    .utility_wrp{

        .container{
            .text_utility{

                font-size: 38px;
            }

            .row{

                .heading{

                    font-size: 35px;
                }
                .txt{

                    font-size: 14px;
                }
            }
        }
    }
} 

/* 1024 */
@media only screen and (max-width: 1199px) {
    .utility_wrp{
        .container{

            .text_utility{

                font-size: 49px;
            }

            .row{

                .heading{

                    font-size: 47px;
                }
                .txt{

                    font-size: 16px;
                }
            }

            
        }
    }
} 


/* 980 */
@media only screen and (max-width: 1023px) {

    .utility_wrp{
        .container{
            
        }
    }
} 


@media only screen and (max-width: 979px) {

    .utility_wrp{
        .container{
            
        }
    }
} /* 768 */

@media only screen and (max-width: 767px) {

    .utility_wrp{
        .container{
            
        }
    }
} /* 650 */

@media only screen and (max-width: 479px) {

    .utility_wrp{
        .container{
            
        }
    }
} /* 375 */

