.partnersection_wrp {
  .container {
    #footer-up-section {
      border: 2px solid red;
    }

    .row {
      .partner {
        // margin-top: 100px;

        .partner_heading {
          // margin-left: 450px;
          font-family: "HelveticaNeueLTProBlkCn";
          font-style: normal;
          font-weight: 900;
          font-size: 40px;
          line-height: 140%;
          text-align: center;
          text-transform: uppercase;
          background: linear-gradient(90deg, #000000 0%, #4c2d8d 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }

        .partner_grp {
          margin-top: 30px;
          justify-content: center;
          align-items: center;
        }
      }

      .press {
        // margin-top: 100px;

        .press_heading {
          font-family: "HelveticaNeueLTProBlkCn";
          font-style: normal;
          font-weight: 900;
          font-size: 40px;
          line-height: 140%;
          text-align: center;
          text-transform: uppercase;
          background: linear-gradient(90deg, #000000 0%, #4c2d8d 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }

        .press_img {
          margin-top: 24px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
