.roadmap_wrp {
  // background-image: url("../../../assets/images//roadmap_bg1.webp");
  // background-repeat: no-repeat;
  // background-color: #fff;
  // overflow: hidden;
  // width: 100%;
  // height: 71rem;
  // background-size: cover;
  // position: relative;

  height: 1300px;
  text-align: center;
  background-color: #fff;
  background-image: url("../../../assets/images/agov_roadmap.png");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 50px 0;
  position: relative;

  .roadmap_line_image {
    img {
      height: auto;
      width: 12%;
    }

    .roadmap_image {
      border: none;
      padding: 12px 8px;
      gap: 26px;
      width: 13%;
      height: auto;
      background: #f7f7f7;
      border-radius: 8px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      color: #000000;
      .img_roadmap_mobile {
        display: none;
      }
      &:nth-child(1) {
        color: #000000;
        position: absolute;
        top: 17%;
        right: 48%;
      }

      &:nth-child(2) {
        position: absolute;
        top: 23%;
        right: 19%;
        color: #000000;
      }

      &:nth-child(3) {
        color: #000000;
        position: absolute;
        top: 27%;
        right: 54%;
        // width: 13%;
        // height: auto;

        color: #000000;
      }

      &:nth-child(4) {
        color: #000000;
        position: absolute;
        top: 35%;
        right: 25%;
        // width: 20%;
        // height: auto;
      }

      &:nth-child(5) {
        color: #000000;
        position: absolute;
        top: 36%;
        right: 63%;
        // width: 20%;
        // height: auto;
      }

      &:nth-child(6) {
        color: #000000;
        position: absolute;
        top: 51%;
        right: 40%;
        width: 20%;
        height: auto;
      }

      &:nth-child(7) {
        color: #000000;
        position: absolute;
        top: 67%;
        right: 31%;
        width: 20%;
        height: auto;
      }

      &:nth-child(8) {
        color: #000000;
        position: absolute;
        top: 81%;
        right: 57%;
        width: 23%;
        height: auto;
      }
    }
  }
  .roadmap_container {
    // position: absolute;

    // margin-top: 50px;

    .roadmap_heading {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: "HelveticaNeueLTProBlkCn";
      font-style: normal;
      font-weight: 900;
      font-size: 64px;
      line-height: 140%;
      text-transform: uppercase;
      background: linear-gradient(90deg, #000000 0%, #4c2d8d 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    .subheading {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      color: #000000;

      p {
        width: 60%;
      }
    }
  }
  .img_roadmap {
    // margin-left: -1%;
    // padding: -20px;
    height: auto;
    width: 150%;
  }
}

@media only screen and (max-width: 768px) {
  .roadmap_wrp {
    br {
      display: none;
    }
    background-image: url("../../../assets/images/roadmap_new.png");
    background-size: 100% auto;
    background-color: #fff;
    // background-repeat: no-repeat;
    // background-position: top right;

    .bigDevice {
      display: none;
    }

    .roadmap_container {
      position: unset;
    }

    .roadmap_line_image {
      padding: 0 15px;
      .roadmap_image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: #ffffff00;
        border: 0;
        gap: 0;
        .img_roadmap_mobile {
          display: block;
          width: 100px;
          height: auto;
        }
        .container {
          border-radius: 18px;
          background-color: #f7f7f7;
          padding: 27px;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          position: unset;
          width: 100%;
          overflow: hidden;
          margin-left: auto;
        }
      }
    }
  }
} /* 650 */

/* 1024 */

@media only screen and (max-width: 1199px) {
  .roadmap_wrp {
    br {
      display: none;
    }
    .roadmap_line_image {
      .roadmap_image {

        height: auto;
        width: 15%;
      }
    }
  }
}

@media only screen and (max-width: 979px) {
  .roadmap_wrp {
    .roadmap_line_image {
      .roadmap_image {

        height: auto;
        width: 15%;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .roadmap_wrp {
    .roadmap_line_image {
      .roadmap_image {

        height: auto;
        width: 15%;
      }
    }
  }
}
// 480px

// @media only screen and (max-width: 649px) {
//   .roadmap_wrp {
//     // display: none;
//     .bigDevice {
//       img {
//         display: none;
//       }
//     }

//     .roadmap_line_image {
//       padding: 0 27px;
//       .roadmap_image {
//         &:nth-child(1),
//         &:nth-child(2),
//         &:nth-child(3),
//         &:nth-child(4),
//         &:nth-child(5),
//         &:nth-child(6),
//         &:nth-child(7),
//         &:nth-child(8) {
//           position: unset;
//           width: 88%;
//           overflow: hidden;
//           margin-left: auto;
//         }
//       }
//     }
//   }
// }

/* 980 */
// @media only screen and (max-width: 1199px) {
//   .roadmap_wrp {
//     .roadmap_container {
//       margin-top: 30px;
//     }

//     .roadmap_line_image {
//       .roadmap_image {
//         &:nth-child(1) {
//           top: 183rem;
//           right: 28rem;
//         }
//         &:nth-child(2) {
//           top: 186rem;
//           right: 6rem;
//         }
//         &:nth-child(3) {
//           top: 189rem;
//           right: 32rem;
//         }
//         &:nth-child(4) {
//           top: 193rem;
//           right: 8rem;
//         }
//         &:nth-child(5) {
//           top: 195rem;
//           right: 38rem;
//         }
//         &:nth-child(6) {
//           top: 200rem;
//           right: 24rem;
//         }
//         &:nth-child(7) {
//           top: 214rem;
//           right: 18rem;
//         }
//         &:nth-child(8) {
//           top: 216rem;
//           right: 34rem;
//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 979px) {
// } /* 768 */

// @media only screen and (max-width: 479px) {
// } /* 375 */

// @media only screen and (max-width: 374px) {
// } /* 320 */
